---
	import MainHead from '../components/MainHead.astro';
	import Footer from '../components/Footer.astro';
	import Nav from '../components/Nav.astro';

	console.log("onche")
---

<html lang="en">

<head>
	<MainHead title="About me" description="About me" />
	<style>
		.heroImg {
			max-height: 24rem;
			object-fit: cover;
			overflow: hidden;
		}

		.heroImg img {
			width: 100%;
			border-radius: 2rem;
		}

		.bio {
			font-size: var(--f-u1);
			line-height: 2;
			margin-top: 4em;
		}

		.wrapper.bio {
			max-width: 50em;
		}
	</style>
</head>

<body>
	<Nav />
	<div class="wrapper">
		<h1>About me (french)</h1>
		<div class="heroImg">
			<img width="1400" height="350"
				src="https://images.unsplash.com/photo-1479719892862-491b594c3903?auto=format&fit=crop&w=1400&h=350&q=75" />
		</div>
		<div class="bio wrapper">



			<!-- <p>After an education as a linguist and language teacher, during which I taught languages for 2 years ; I
				learned web development in order to create applications in the educational field.</p>

			<p>I started learning code and development self-taught in 2021. Followed by joining an intensive code
				learning program where I learned the fundamental skills to create a web application from scratch.
				(HTML/CSS/JS/React/Express/Mongo DB). </p>

			<p>My final project called Web4All was a quiz application for coders wishing to test their knowledge of web
				language, as a Lead Dev Front-End I was in charge of the React rendering and CSS styling with Material
				UI.</p> -->

			<p> Après une formation de linguiste et de professeur de langues, durant laquelle j'ai enseigné pendant 2
				ans ; j'ai appris le développement web afin de créer des applications dans le domaine de l’éducation.

				J'ai commencé à apprendre le code et le développement en autodidacte en 2021. Suivi d’un programme
				intensif d'apprentissage du code de 4 mois où j'ai appris les compétences fondamentales pour créer une
				application web à partir de zéro. (HTML/CSS/JS/React/Express/Mongo DB). </p>

			<p>A ce jour après 1 an et demi de freelance, j'ai satisfait une trentaine de client à travers des missions
				front-end variée allant de : </p>

			<ul>
				<li>La résolution de bugs CSS et Javascript</li>
				<li>La création d'un seul ou plusieurs composant pour un gros projet web</li>
				<li>L'intégration de maquettes en HTML/CSS/JS & React</li>
				<li>La reproduction à l'identique d'un site</li>
			</ul>

			Personne volontaire, toujours dans la recherche d’amélioration et l'apport de solution ; plutôt créative et
			rarement à court d’idée !
			<p>
				Lors de ma formation universitaire, j'ai surtout appris à apprendre, par conséquent j'accueil très
				volontiers les technologies qui me sont inconnus. De manière général je suis passionné par les choses
				que j'étudie. C'est ce qui m'a permis de me reconvertir dans le code rapidement. En outre je fais
				régulièrement de la veille technologique pour me tenir au courant de l'évolution rapide dans le monde du
				développement web.</p>
		</div>
	</div>
	<Footer />
</body>

</html>