---
	import MainHead from '../components/MainHead.astro';
	import Footer from '../components/Footer.astro';
	import Nav from '../components/Nav.astro';
---

<html lang="en">

<head>
	<MainHead title="Resume" description="My resume" />
	<style>
	</style>
</head>

<body>
	<Nav />
	<div class="wrapper">
		<iframe src="/assets/cv-alternance.pdf" title="CV de Eric Soeun" height="1000px" width="100%" />
	</div>
	<Footer />
</body>

</html>